.headerStyle {
    background-color: 'transparent';
    position: 'absolute';
    top: 0;
    left: 0;
    right: 0;
    border-bottom-width: 0 
   
}
.color{
    color: rgb(0, 102, 255) !important;
}
.navbar.active{
    background-color: white !important;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.navbar-brand{
    font-size: 25px;
    font-weight: 600;
}
.navbar-toggler{
    border: none !important;
    outline: none !important;
}
.navbar-toggler:focus{
    border: none !important;
    outline: none !important;
}
.navbar-toggler:hover{
    transform: rotate(180deg);
}
.navbar-toggler-collapsed:focus {
    border: none;
    outline: none;
}
.navbar .navbar-nav .nav-link {
    position: relative;
}
.navbar .navbar-nav .nav-link::after {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgb(0, 102, 255) !important;
    color: transparent;
    width: 0%;
    content: '.';
    height: 3px;
    transition: all 0.5s;
}
.navbar .navbar-nav .nav-link:hover::after {
    width: 75%;
}
@media only screen and (min-width: 960px) {
    .navbar .navbar-nav .nav-link {
        padding: 1em 0.7em;
    }
    .navbar {
        padding: 0;
    }
    .navbar-brand{
        font-size: 26px !important;
        font-weight: 600;
    }
}
@media only screen and (max-width: 768px) {
    .navbar .navbar-nav .nav-link::after {
        bottom: 1px;
        right: 100%;
    }
    .navbar .navbar-nav .nav-link:hover::after {
        width: 12%;
    }
}
.text{
    font-weight: 600;
}